*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: hsl(239, 86%, 53%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.image{
 margin: 150px auto;
 width: 70%;
}
img{
  width: 400px;
  float: left;
  border: 3px solid #ffff;
  border-radius: 10px;
  align-items: center;

}
.word-s{
    color: #ffff;
    word-spacing: 15px;
    margin-top: 280px;
}
.word-s h2{
    font-size: 42px;
}
.word-s p{
    font-size: 16px;
}
